## Introduction
Test for the pyhut library:
- Show available datasets
- Load datasets from a hub into a panda dataframe

In [1]:
import numpy as np
import pandas as pd
import pyhut as ph

In [2]:
ph.show()

,ENTRPPrice,coverImage,description,name
2lt1scK0kZrgEI1yQxnb,1.01,,testing custodial data in a hybrid hub,AU Broadband data
GGQ3wHSAfbdzVxV4atYp,2.7878,https://images.unsplash.com/photo-156908452053...,Test data,New Test

In [7]:
my_df = ph.load('GGQ3wHSAfbdzVxV4atYp')

In [9]:
my_df.head()

         Date                            Task Amount
0  28/10/2019  Integrate non-custodial wallet      2
1  29/10/2019     Test everything on standard      2
2  29/10/2019    Move HutX2 to Honestybox Hub      2
3  06/11/2019           Play beach volleyball  10000
4  18/11/2019         Add additional features    700